@import 'normalize.css';

@import './library/settings.pcss';
@import './library/mixins.pcss';

@import './base/elements.pcss';
@import './base/icons.pcss';
@import './base/global.pcss';
@import './base/accessibility.pcss';
@import './base/typography.pcss';
@import './base/animated-icons.pcss';
@import './base/buttons.pcss';

@import '../components/shared/**/*.pcss';
@import '../components/ui/**/*.pcss';