@import '../util/global';

@import '../components/picker';
@import '../components/modal';

// UI.html exmample styles only
.outer-container {
	@include outer-container();
}

.feature {
	@extend %row-padd;
	margin: 40px 0;
}

.feature-title {
	border-bottom: solid 1px lighten($black, 20);
	margin-bottom: 20px;
	padding-bottom: 10px;

	&.is-inview {
		@include bounce(400ms);
	}
}

.icon {
	display: block;
}

.icon::before {
	font-size: 2em;
	padding-right: .25em;
}

.ui-buttons {
	.btn,
	.btn--outline,
	.btn--warning {
		margin: 0 em(10) em(10) 0;
	}
}

.ui-pickers {
	.picker,
	.picker--error {
		margin-right: em(10);
	}
}

.ui-icons {
	[class^='icon-'],
	[class*=' icon-'] {
		margin: 10px;
	}
}

.animation-demo {
	border: solid 1px $gray;
	height: 16em;
	margin-top: 1em;
	position: relative;

	&__square {
		background: $black;
		display: inline-block;
		height: 3.3em;
		left: 50%;
		margin-left: -1.65em;
		margin-top: -1.65em;
		position: absolute;
		top: 50%;
		width: 3.3em;
	}
}

/*
	Fade demos
*/
.fade {
	&__in {
		@include fade-in();

		&--up {
			@include fade-in-up();
		}

		&--right {
			@include fade-in-right();
		}

		&--down {
			@include fade-in-down();
		}

		&--left {
			@include fade-in-left();
		}
	}

	&__out {
		@include fade-out();

		&--up {
			@include fade-out-up();
		}

		&--right {
			@include fade-out-right();
		}

		&--down {
			@include fade-out-down();
		}

		&--left {
			@include fade-out-left();
		}
	}
}

/*
	Slide demos
*/
.slide {
	&__in {
		&--up {
			@include slide-in-up();
		}

		&--right {
			@include slide-in-right();
		}

		&--down {
			@include slide-in-down();
		}

		&--left {
			@include slide-in-left();
		}
	}

	&__out {
		&--up {
			@include slide-out-up();
		}

		&--right {
			@include slide-out-right();
		}

		&--down {
			@include slide-out-down();
		}

		&--left {
			@include slide-out-left();
		}
	}
}

/*
	Zoom demos
*/
.zoom {
	&__in {
		@include zoom-in();

		&--shrink {
			@include zoom-in-shrink();
		}
	}

	&__out {
		@include zoom-out();

		&--grow {
			@include zoom-out-grow();
		}
	}
}

/*
	Special demos as classes
*/
.bounce {
	@include bounce();
}

.flash {
	@include flash();
}

.pulse {
	@include pulse();
}

.shake {
	@include shake();
}

.wobble {
	@include wobble();
}




