.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 1200px;
  padding: 50px;
}

.button {
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  padding: 16px 36px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, border-color .3s;
  width: 100%;

  &:hover,
  &:active {
    background-color: $black;
    color: $white;
    transition: background-color .3s, border-color .3s;
  }

  @media(min-width: $medium-screen) {
    width: auto;
  }
}

.button--inverse {
  background: $black;
  border: 1px solid $white;
  color: $white;

  &:hover,
  &:active {
    background-color: $white;
    border: 1px solid $white;
    color: $black;
    transition: background-color .3s, border-color .3s;
  }
}

.button--fill {
  background-color: $black;
  color: $white;

  &:hover,
  &:active {
    background-color: lighten($black, 20%);
    color: $white;
  }
}

.button--primary {
  background-image: linear-gradient(39deg, $orange 0%, $white 100%);
  background-size: 100%;
  border: 0;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .37);
  color: $white;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 0;

  &:before {
    background-image: linear-gradient(-39deg, $orange 0%, $white 100%);
    box-shadow: 0 4px 8px 0 rgba(1, 193, 213, .37);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .45s;
    width: 100%;
    z-index: -1;
  }

  &:hover,
  &:active {
    color: $white;
    text-decoration: none;

    &:before {
      box-shadow: 0 13px 27px 0 rgba(0, 182, 248, .25);
      opacity: 1;
    }
  }
}
