{% extends "_layout.twig" %}
{% block content %}

<div class="fourohfour" style="background-image: url('/img/sadboi.png');">
  <h1 class="fourohfour__type typography__h1">404 - Could not fetch</h1>
</div>

{% endblock %}