/**
* Component: Buttons
* Description: Basic button styles, bg fill and outline
*/

// base button placeholder
%btn {
	font-weight: bold;
	padding: .8em 2.5em;

	&:hover,
	&:active,
	&:focus {
		outline: none;
	}
}

// bg fill button mixin
@mixin btn($bg: $primary-color, $color: $white) {
	@extend %btn;
	background: $bg;
	color: $color;
	border: 3px solid $bg;

	&:hover {
		background: none;
		color: $bg;
	}
}

// outline btn mixin
@mixin btn-outline($bg: $white, $color: $primary-color) {
	@extend %btn;
	background: $bg;
	color: $color;
	border: 3px solid $color;

	&:hover {
		background: $color;
		color: $bg;
	}
}

// implementation
.btn {
	@include btn();
}

.btn--outline {
	@include btn-outline();
}

.btn--warning {
	@include btn($error-color, $white);
}
