/**
* Component: Forms
* Description: Base form styles
*/

$forms-bg: $white;
$forms-border: solid 1px;
$forms-border-default: $gray;
$forms-border-active: $primary-color;
$forms-error: $error-color;

input,
label,
select {
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
	@include feel();
	background-color: $forms-bg;
	border: $forms-border;
	border-color: $forms-border-default;
	font-family: $base-font-family;
	font-size: $base-font-size;
	outline: none;
	padding: em(10);
	width: 100%;

	&:hover {
		border-color: darken($forms-border-default, 10);
	}

	&:focus {
		border-color: $forms-border-active;
		outline: none;
	}

	&:active {
		outline: none;
	}

	&.input-error {
		background: lighten($forms-error, 45);
		border-color: $forms-error;
	}
}

textarea {
	padding: em(8) em(10);
	resize: vertical;
}

select {
	max-width: 100%;
	width: auto;
}

[type="search"] {
	@include appearance(none);
}

[type="checkbox"],
[type="radio"] {
	display: inline-block;
	margin: 7px 5px 7px 0;
	outline: none;
}

[type="file"] {
	width: 100%;
}
