/**
* Component: Header
* Description: Simple header with logo and nav
*/

// header vars
$header-bg: $black;
$header-color: $white;
$header-hide-nav: $large-screen;

%header-link {
	color: $header-color;
	display: block;
	padding: em(20) 0;

	&:hover,
	&:active,
	&:focus,
	&:active {
		color: $header-color;
	}
}

.header {
	background: $header-bg;
}

.header__inner {
	@extend %outer-container;
	@extend %row-padd;
}

.header__logo {
	@include span-columns(4);
}

.header__logo-link {
	@extend %header-link;
}

.header__nav {
	display: none;

	@include media($header-hide-nav) {
		@include span-columns(8);
		@include omega();
	}
}

.header__nav-list {
	float: right;
	margin: 0;
}

.header__nav-item {
	display: inline-block;
}

.header__nav-link {
	@extend %header-link;
	margin-left: em(40);
}

.header__toggle {
	@extend %header-link;
	float: right;

	@include media($header-hide-nav) {
		display: none;
	}
}
