@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icons/icomoon.eot?ibfk5z');
	src: url('/fonts/icons/icomoon.eot?ibfk5z#iefix') format('embedded-opentype'),
		 url('/fonts/icons/icomoon.ttf?ibfk5z') format('truetype'),
		 url('/fonts/icons/icomoon.woff?ibfk5z') format('woff'),
		 url('/fonts/icons/icomoon.svg?ibfk5z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	font-family: 'icomoon';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

.icon-twitter:before {
	content: '\e604';
}

.icon-search:before {
	content: '\e609';
}

.icon-hamburger:before {
	content: '\e618';
}

.icon-linkedin:before {
	content: '\e619';
}

.icon-instagram:before {
	content: '\e61f';
}

.icon-googleplus:before {
	content: '\e623';
}

.icon-facebook:before {
	content: '\e627';
}

.icon-circle-close:before {
	content: '\e62c';
}

.icon-close:before {
	content: '\e62d';
}
