body {
	@include font-feature-settings('kern', 'liga', 'pnum');
	color: $black;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	margin: 0;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	margin: em(20) 0;
}

a {
	color: $primary-color;
	text-decoration: none;

	@include feel() {
		@include transition-property(color);
	}

	&:hover {
		color: $primary-color-alt;
	}

	&:active,
	&:focus {
		color: $primary-color-alt;
		outline: none;
	}
}

img,
picture {
	margin: 0;
	max-width: 100%;
}
