.textPanel {
  font-family: var(--primary-font);
  padding: 50px 0;
}

.textPanel__container {
  @extend %outer-container();
}

.textPanel__wrapper {
  @media (--medium-screen) {
    margin: 0 auto;
    max-width: 66.666666%;
  }
}

.textPanel__heading {
  color: var(--orange);
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 20px;
  text-align: center;
}

.textPanel__body {
  font-size: 18px;
  line-height: 38px;
  text-align: left;
}
