<div class="ui">
  {% if entry is defined %}
    {% for block in entry.components %}
      <h2 class="ui__heading">{{block.type.name}}</h2>
      <div class="ui__component">
        {% include 'components/' ~ block.type %}
      </div>
    {% endfor %}
  {% endif %}
</div>
