.ui {
  padding-top: 80px;
}

.ui__heading {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 34px;
  font-weight: 400;
  line-height: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.ui__spacer {
  height: 80px;
}
