.logoWall {
  @media(min-width: $medium-screen) {
    padding: 50px 0;
  }
}

.logoWall__container {
  @include m-outer-container();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoWall__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media(min-width: $medium-screen) {
    padding-left: 40px;
  }
}

.logoWall__logo {
  margin-bottom: 40px;
  padding: 0 20px;
  text-align: center;
  min-width: 33.33%;
}

.logoWall__caption {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.logoWall__image {
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
  width: auto;
}
