<div class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__heading">Lorem Ipsum Dolor Sit Amet</h2>
    <div class="gallery__list">

      <div class="gallery__item">
        <div class="gallery__image" style="background-image: url('http://placehold.it/500x500?text=item+1')"></div>
        <span class="gallery__caption">Item 1</span>
      </div>

      <div class="gallery__item">
        <div class="gallery__image" style="background-image: url('http://placehold.it/500x500?text=item+2')"></div>
        <span class="gallery__caption">Item 2</span>
      </div>

      <div class="gallery__item">
        <div class="gallery__image" style="background-image: url('http://placehold.it/500x500?text=item+3')"></div>
        <span class="gallery__caption">Item 3</span>
      </div>

    </div>
    <span class="gallery__controls">
      <svg class="gallery__arrow gallery__arrow--left gallery__arrow--disabled"><use xlink:href="/dist/symbol-defs.svg#arrow-left"></use></svg>
      <span class="gallery__count">
        <span class="gallery__currentPage">1</span>
        <span class="gallery__countDivider">/</span>
        <span class="gallery__countTotal">3</span>
      </span>
      <svg class="gallery__arrow gallery__arrow--right"><use xlink:href="/dist/symbol-defs.svg#arrow-right"></use></svg>
    </span>
  </div>
</div>
