.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1em;
}

.icon__chevron {
  position: relative;
  top: 4px;
}

/* Icon Animations */
.type__a > .icon__chevron--right {
  transition: 0.2s;
}

.type__a:hover > .icon__chevron--right,
.type__a:active > .icon__chevron--right {
  transition: 0.4s;
  transform: translateX(4px);
}
