.type__h1 {
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 45px;

  @media (--large-screen) {
    font-size: 46px;
    letter-spacing: -0.8px;
    line-height: 60px;
  }
}

.type__h2 {
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 45px;
}

.type__h3 {
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -0.1px;
  line-height: 45px;
}

.type__h4 {
  font-family: var(--primary-font);
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
}

.type__h5 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
}

.type__sub1 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.type__sub2 {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.type__p {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

.type__p--small.type__p {
  font-size: 17px;
  line-height: 31px;
}

.type__p--inset.type__p {
  height: auto;
  padding-left: 20px;
  position: relative;

  @media (--medium-screen) {
    padding-left: 30px;
  }

  &::before {
    background-color: var(--green);
    content: '';
    display: block;
    height: 90%;
    left: 0;
    position: absolute;
    top: 5%;
    width: 2px;
  }
}

.type__a {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
