<div class="masthead">
  <div class="masthead__lampshade"></div>
  <picture>
    <source srcset="http://placehold.it/1440x800?text=desktop+masthead" media="(min-width: 1024px)">
    <source srcset="http://placehold.it/375x667?text=mobile+masthead" media="(min-width: 960px)">
    <img class="masthead__image" srcset="http://placehold.it/375x667?text=mobile+masthead">
  </picture>
  <div class="masthead__container">
    <article class="masthead__content">
      <h3 class="masthead__subheading">This is the subheader</h3>
      <h2 class="masthead__heading">This is the header</h2>
    </article>
  </div>
</div>
