.u-heading {
  font-family: $heading-font-family;
  font-weight: 500;
  line-height: 1;
  margin: .166666667em 0;
  text-transform: uppercase;
}

.u-heading--1 {
  font-size: 3.75em;
}

.u-heading--2 {
  font-size: 2.5em;
}
