<div class="hoverTiles">

  <a href="#" class="hoverTiles__item">
    <div class="hoverTiles__item__background" style="background-image: url(http://placehold.it/500x500?text=lorem)"></div>
    <article class="hoverTiles__item__content">
      <h3 class="hoverTiles__item__title">Dolor Sit Amet</h3>
      <p class="hoverTiles__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perspiciatis ipsa doloremque blanditiis veritatis quod!</p>
      <div class="hoverTiles__item__button">
        <span class="button button--inverse">Explore</span>
      </div>
    </article>
  </a>

  <a href="#" class="hoverTiles__item">
    <div class="hoverTiles__item__background" style="background-image: url(http://placehold.it/500x500?text=lorem)"></div>
    <article class="hoverTiles__item__content">
      <h3 class="hoverTiles__item__title">Dolor Sit Amet</h3>
      <p class="hoverTiles__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perspiciatis ipsa doloremque blanditiis veritatis quod!</p>
      <div class="hoverTiles__item__button">
        <span class="button button--inverse">Explore</span>
      </div>
    </article>
  </a>

  <a href="#" class="hoverTiles__item">
    <div class="hoverTiles__item__background" style="background-image: url(http://placehold.it/500x500?text=lorem)"></div>
    <article class="hoverTiles__item__content">
      <h3 class="hoverTiles__item__title">Dolor Sit Amet</h3>
      <p class="hoverTiles__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perspiciatis ipsa doloremque blanditiis veritatis quod!</p>
      <div class="hoverTiles__item__button">
        <span class="button button--inverse">Explore</span>
      </div>
    </article>
  </a>

</div>
