@include keyframes(zoomOut) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    @include transform(scale3d(.3, .3, .3));
  }
  100% {
    opacity: 0;
  }
}

@mixin zoomOut($feel-override:$animation-feel) {
  @include animation-name(zoomOut);
	@include count($animation-count);
	@include feel($feel-override);
	@include delay($animation-delay);
	@include fill-mode($animation-fill);
	@include visibility($animation-backface);
}
